body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #17881b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    font-size: 14px;
    top: 0;
    z-index: 1000; 
}

.lista {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: auto;
}

.palavras {
    list-style-type: none;
    padding: 0;
}

.palavra {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.braille-section {
    display: flex;
    display: block;
    margin-top: 20px;
}

.container {
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 600px;
    background-color: #ffffff; 
    
}

.container img {
    padding-top: 20px;
    max-width: 100%; 
    height: auto; 
}

.container2 {
    display:inline-block;
    text-align: center;
    background-color: #ffffff; /* Fundo branco dentro do contêiner */
    margin: auto;
}

.container-help { /* container do help.html */
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: auto;
}

.form-container { /* Container do formulário*/
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    margin: auto;
}

.form-control { /*campo digitavel alfabeto.html*/
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label,
select,
input {
    display:flex;
    margin-bottom: 10px;
    font-size: 16px;
}

label {
    text-align: left;
}

textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
}

h1,
h2 {
    color: #333;
}

p {
    color: #000000;
    margin-bottom: 20px;
}


li{
    text-align: justify;
    color: #000000;
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    background-color: #333; /* Cor de fundo mais escura para o botão */
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #5a5a5a; /* Cor de fundo mais escura para o botão */
    color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.botao:hover {
    background-color: #c4c4c4; /* Cor mais escura ao passar o mouse sobre o botão */
}

.button a {
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: #555; /* Cor mais escura ao passar o mouse sobre o botão */
}

footer {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.options a {
    display: inline-block;
    background-color: #333; /* Cor de fundo mais escura para o botão */
    color: white;
    margin-block: 5px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.options a:hover {
    background-color: #555;
    font-weight: bold;
}

.braille-doc2 span {
    position: relative;
    top: -8px;
    margin: 0 5px 0 20px;
    display: inline-block;
    text-align: center;
  }
 
.braille {
    margin-top: 20px;
  }
  .braille-doc span,
  .braille-doc2 span {
    position: relative;
    top: -8px;
    margin: 0 5px 0 20px;
    display: inline-block;
    text-align: center;
  }
  .braille-doc > div {
    display: inline-block;
  }
  .braille-doc2 > div {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
  }
  .braille-doc2 span {
    min-width: 140px;
    text-align: left;
  }     